// Copyright 2015 Kjetil Thuen
// Distributed under the GPLv3

template(name='Sidebar')
  ul.nav
    li
      a.visible-xs.text-center(href="#" data-toggle="offcanvas")
        i.fa.fa-chevron-right
  ul.menu.nav
    li
      a(href='/dashboard' class='#{select_dashboard}')
        i.fa.fa-list
        span.hidden-collapsed {{_ " Categories"}}
    li
      a(href='#{leaderboard_link}' class='#{leaderboard_select}')
        i.fa.fa-trophy
        span.hidden-collapsed {{_ "text_leaderboard"}}
    li
      a(href='/submit-theory' class='#{select}')
        i.fa.fa-lightbulb-o
        span.hidden-collapsed {{_ " User Theories"}}
    // li
      a.newsroute(href='/newsfeed')
        i.fa.fa-newspaper-o
        span.hidden-collapsed {{_ ' News Feed'}}
    each Pages
      li
        a.go_page(href='/page/#{_id}' class='#{maybe_selected}')
          i.fa.fa-dot-circle-o
          span.hidden-collapsed {{_ title}}

  div#sidebar-footer.market-stats.col-sm-2(class=iframewallet)
    if market_selected
      +Wallet
