template(name="CommentSection")
  div.container-fluid
    div.row
      h3.col-md-12.title-class {{hints.hint}}
      button.btn.col-md-2.like(type='button' id=hints.id)
       i.fa.fa-thumbs-up
      span.like-count {{totalLikes}} likes
      button.btn.col-md-2.dislike(type='button' id=hints.id)
       i.fa.fa-thumbs-down
      span.like-count {{totalDislikes}} dislikes
    div.row.title_class
      span.col-md-12 Explaination
      h4.col-md-12.desc-class {{hints.desc}}
    span.label_comment Comments
    each comment in comments
      div.row.comments_class
        div.col-md-6
          label
            {{comment.user.name}}
        div.col-md-6.time
          label.font
            {{formattedDate (comment.user.commentedOn)}}
        div.col-md-12.border
          span {{comment.comment}}
        div.row
          div
            button.btn.col-md-2.like_comment(type='button' id=comment._id)
             i.fa.fa-thumbs-up
          div.like-count
            label.likes {{comment.likes.length}} likes
          div
            button.btn.col-md-2.dislike_comment(type='button' id=comment._id)
             i.fa.fa-thumbs-down
            div.like-count
              label.likes {{comment.dislikes.length}} dislikes
    div.row.comment-class
      textarea.form-control.col-md-12.add_comment(type="text" placeholder="Enter Comment")
      button.btn.btn-success.pull-left.back(type='button')
       i.fa.fa-arrow-left {{_ ' Back'}}
      button.btn.btn-success.pull-right.save_comment(type='button' id=hints.id)
       i.fa.fa-paper-plane {{_ ' Submit'}}
    div.error(style="display:none")
     label Please enter comments first.
    div.success.alert.alert-success
     label Your comment has been saved successfully
    div.error.alert.alert-warning
     label Error while saving your comment. Please try again.
