// Copyright 2015 Kjetil Thuen
// Distributed under the GPLv3

template(name='AdminContract')
  // TODO: Add more info to each contract. Graphs and stuff
  +InputText field="title" value=title id=_id method="renameContract" type="text"
  +InputText field="image" value=image id=_id method="setContractImage" type="file"
  input.set-color.form-control-sm(type='color' value='#{color}')
  if opened
    label {{_ 'form_price'}}
    div.rangeval #{price}
  else
    +InputText min=min_price max=max_price field="start_price" value=price id=_id method="setContractPrice" type="range"


   each hint
      +AddHint
    div.form-group.row
      button.btn.btn-success.add_hint(style="margin-top: 10px")(type='button' value='#{_id}')
        i.fa.fa-plus {{_ 'Add Hint'}}

    if deleteable
      div.form-group.col-md-12
        button.btn.btn-danger.remove_contract(type='button' value='#{_id}')
          i.fa.fa-trash {{_ 'button_remove_contract'}}
