template(name="ListHints")
  h3 User Hints List
  div.success.alert.alert-success
   label Hint approved successfully
  div.delete.alert.alert-success
   label Hint deleted successfully
  div.error.alert.alert-warning
   label Error while saving your response. Please try again
  table.table.table-bordered
    thead
      tr
        th Contract Name
        th Date
        th Hint Title
        th Hint Description
        th Action
    tbody
      each hints
        tr
          td {{title}}
          td {{formattedDate date}}
          td {{hint}}
          td {{desc}}
          td
            if buttonCheck approved false
              button.btn.btn-success.approve_hint(type='button' id=contract_id value=id)
                i.fa.fa-check.check
            button.btn.btn-info.edit_hint(type='button' id=contract_id value=id)
              i.fa.fa-pencil.check
            button.btn.btn-danger.delete_hint(type='button' id=contract_id value=id)
              i.fa.fa-trash-o.check
